h2 {
  text-align: center;
}
.sort-box {
  padding: 25px;
}
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  padding: 20px;
}
#container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container > div >img{
    width:60%;
}